.custom-navbar {
  background: linear-gradient(to right,
  #B32222 0%, 
  #FF3131 12%,
  #a81f1f 73%,
  #991D1D 100%);
  border: 3 solid lightgray;
  border-bottom: 3 solid lightgray;
  padding: 10px 1%;
  height: 115px;
}

.custom-title {
  font-family: 'Rubik Broken Fax';
  color: #110127;
  font-size: 3.6vw;
  font-style: italic;
  max-width: 40%;
  margin-top: -0.5%;
  margin-left: 0.4%;
}


.search-navbar {
  font-family: 'Orbitron';
  background-color: #463D3D;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border: 2px solid black;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-top: -10px;
  position: relative;
}

.search-depar-text {
  font-family: 'Orbitron';
  color: #0E001F;
  font-size: 28px;
  margin-left: 15px;
}

.menu-icon {
  font-size: 1.5rem;
  cursor: pointer;
}
.search-bar
{
  width: 76%; /* Make the input take the full width of the search bar container */
  margin-right: 1.9%;
}

.search-bar input {
  width: 75%; /* Make the input take the full width of the search bar container */
  max-width: 97%;
  height: 45px;
  border: none;
  box-shadow: none;
}

.search-bar input::placeholder {
  padding: 5px 1%;
  color: #ccc;
}

.icons-navbar {
  display: flex;

  justify-content: center;
  gap: 2px;
}

.icon-heart {
  margin-left: -16%;
  margin-top: 1px;
}

.icon-support {
  margin-left: 15%;
  margin-top: 1px;
}

.icon-cart {
  margin-left: 15%;
  margin-top: 1px;
}

.custom-logo {
  width: 7vw;
  height: auto;
  margin-top: 0.7%;
}


.container-fluid {
  flex-direction: row;
  align-items:center;
  justify-content: space-between;
  padding: 2;
}

.techforge-ad {
  position: relative;
  margin-top: 1.6%;
  margin-left: 8vw;
  display: flex;
  align-items: flex-start;
  max-width: 80%;
  margin-right: auto;
}


.techforge-text {
  width: 18vw;
  font-family: 'Orbitron';
  font-size: 1vw;
  color: #0E001F;
  line-height: 1.2;
  margin-top: 1%;
}

.techforge-icon {

  margin-top: -2.4%;

}

.logo-pc {
  margin-top: -10px;
  margin-left: 13px;
}

.auth-buttons {
  display: static;
  gap: 10px;
  margin-left: 4vw; /* Para alinhar os botões à direita */
  margin-top: 2%;
}

.btn-login, .btn-signup {
  font-family: 'Orbitron', sans-serif;
  font-size: 16px;
  font-weight: bold;
  background: linear-gradient(90deg, #000000, #ff0101);
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  margin-left: 8vw;
  margin-top: -1%;
}


.btn-signup {
  background: #2C2C2C;
  margin-left:20px;
  font-style: white;

}

.btn-login{
  background: white;
  color: #000;
}

.btn-login:hover, .btn-signup:hover {
  transform: scale(1.05); /* Animação ao passar o mouse */
  box-shadow: 0 0 40px rgba(219, 0, 0, 0.7);
}

.btn-login:active, .btn-signup:active {
  transform: scale(1); /* Efeito ao clicar */
}


@media (max-width: 1920px) {
  .custom-logo {
    width:8vw;
    
  }
  .custom-title {
    font-size: 4vw; /* Menor fonte para telas menores */
    margin-left: 0.4%;
  }

  .techforge-text {
    margin-top: 3.2%;
    width: 18vw; /* Ajusta o tamanho do texto para telas menores */
  }


  .techforge-ad {
    margin-left: 5%;
  }
  .techforge-icon {
    width: 7vw; /* Ajusta o tamanho do ícone para telas menores */ 
    margin-top: -2.2%;
  }

  
.custom-navbar {
    height: 95px;
    
  }

  
.search-navbar {  
  height: 65px;

}

  .btn-login, .btn-signup {
    margin-left: 40px;
    margin-top: 4%;	
    font-size: 80%;

  }

.search-depar-text {
    font-size: 20px;
    margin-left: 10px;
  }

  .search-bar input {
    height: 35px;
  }

  .auth-buttons {
    margin-left: 70px;
    margin-top: 2%;
  }



  .icon-heart {
    margin-left: -10%;
  }

  .icon-support {
    margin-left: 10%;
  }

  .icon-cart {
    margin-left: 10%;
  }

  .logo-pc {
    margin-top: -10px;
    margin-left: 13px;
  }


}

@media (max-width: 1440px) {
  .custom-title {
    font-size: 5vw;
  }

  .techforge-icon {
    width: 15vw;
  }
}