<nav class="navbar navbar-expand-lg custom-navbar" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand custom-title" href="#">{{title}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01"> <!-- Alterei de navbarColor03 para navbarColor01 -->
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#">Inicio
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Produtos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Ofertas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contato</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Categorias</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-sm-2" type="search" placeholder="RTX 4080">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>
<div class="search-navbar d-flex justify-content-between align-items-center px-3">
  <div class="d-flex align-items-center">
    <span class="fs-5 me-2 menu-icon">
      <svg width="40" height="37" viewBox="0 0 40 37" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M30 13.1667H2M38 2.5H2M38 23.8333H2M30 34.5H2" stroke="black" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>        
    </span>
    <span class="fw-bold">Departamentos</span>
  </div>
  <div class="input-group search-bar">
    <span class="input-group-text bg-dark search-icon">
      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="-0.5" y="0.5" width="15" height="15" transform="matrix(-1 0 0 1 15 0)" stroke="black"/>
        <path d="M2 14L4.9 11.1M3.33333 7.33333C3.33333 10.2789 5.72115 12.6667 8.66667 12.6667C11.6122 12.6667 14 10.2789 14 7.33333C14 4.38781 11.6122 2 8.66667 2C5.72115 2 3.33333 4.38781 3.33333 7.33333Z" stroke="white" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>    
    </span>
    <input
      type="text"
      class="form-control bg-dark text-white"
      placeholder="Processador AMD Ryzen 7 9800X3D"
    />
  </div>
  <div class="d-flex gap-3">
    <span class="fs-5 icon-heart">
      <svg width="48" height="50" viewBox="0 0 49 49" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M38.7333 8.25959C37.8821 7.34405 36.8714 6.61779 35.7589 6.12228C34.6465 5.62677 33.4541 5.37173 32.25 5.37173C31.0459 5.37173 29.8535 5.62677 28.7411 6.12228C27.6286 6.61779 26.6179 7.34405 25.7667 8.25959L24 10.1588L22.2333 8.25959C20.5138 6.41114 18.1817 5.37269 15.75 5.37269C13.3183 5.37269 10.9861 6.41114 9.26666 8.25959C7.54717 10.108 6.58118 12.6151 6.58118 15.2292C6.58118 17.8433 7.54717 20.3503 9.26666 22.1988L24 38.0371L38.7333 22.1988C39.585 21.2837 40.2606 20.1971 40.7215 19.0013C41.1825 17.8054 41.4197 16.5236 41.4197 15.2292C41.4197 13.9347 41.1825 12.6529 40.7215 11.4571C40.2606 10.2612 39.585 9.17469 38.7333 8.25959Z" stroke="black" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>   
    </span>
  </div>
    <span class="fs-5 icon-cart">
      <svg width="37" height="41" viewBox="0 0 37 41" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_11_225)">
        <path d="M1.54163 1.70834H7.70829L11.84 24.5829C11.9809 25.3694 12.3671 26.0759 12.9308 26.5788C13.4944 27.0816 14.1998 27.3487 14.9233 27.3333H29.9083C30.6318 27.3487 31.3371 27.0816 31.9008 26.5788C32.4645 26.0759 32.8506 25.3694 32.9916 24.5829L35.4583 10.25H9.24996M15.4166 35.875C15.4166 36.8185 14.7264 37.5833 13.875 37.5833C13.0235 37.5833 12.3333 36.8185 12.3333 35.875C12.3333 34.9315 13.0235 34.1667 13.875 34.1667C14.7264 34.1667 15.4166 34.9315 15.4166 35.875ZM32.375 35.875C32.375 36.8185 31.6847 37.5833 30.8333 37.5833C29.9819 37.5833 29.2916 36.8185 29.2916 35.875C29.2916 34.9315 29.9819 34.1667 30.8333 34.1667C31.6847 34.1667 32.375 34.9315 32.375 35.875Z" stroke="black" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
        </g>
        <defs>
        <clipPath id="clip0_11_225">
        <rect width="37" height="41" fill="white"/>
        </clipPath>
        </defs>
        </svg>        
    </span>
  </div>
