<nav class="navbar navbar-expand-lg custom-navbar" data-bs-theme="dark">
  <div class="container-fluid">
    <span class="custom-logo">
      <img ngSrc="images/iconsite1.png" width="168" height="115" class="custom-logo" alt="LogoMotherboard" />
    </span>
    <a class="navbar-brand custom-title " href="#">{{title}}</a>
    <div class="techforge-ad">   
      <span class="fw-bold techforge-text">TechForge: Monte sua máquina<br />
      com ajuda da nossa IA
    </span>
    <span class="techforge-icon">
      <img ngSrc="images/logotechia.svg" width="160" height="160" class="techforge-icon" a="LogoTechIA" />
    </span>
    <div class="auth-buttons">
      <button class="btn-login">Entrar</button>
      <button class="btn-signup">Cadastrar</button>
    </div>
  </div>
    </div>
</nav>
<div class="search-navbar d-flex justify-content-between align-items-center px-3">
  <div class="d-flex align-items-center">
    <span class="fs-5 me-2 menu-icon">
      <svg width="40" height="37" viewBox="0 0 40 37" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M30 13.1667H2M38 2.5H2M38 23.8333H2M30 34.5H2" stroke="black" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>        
    </span>
    <span class="fw-bold search-depar-text">Departamentos</span>
    <span class="logo-pc">
      <img ngSrc="images/logominipc.svg" width="90" height="75" class="logo-pc" alt="LogoMiniPC" />
    </span>
  </div>
  <div class="input-group search-bar">
    <span class="input-group-text bg-dark search-icon">
      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="-0.5" y="0.5" width="15" height="15" transform="matrix(-1 0 0 1 15 0)" stroke="black"/>
        <path d="M2 14L4.9 11.1M3.33333 7.33333C3.33333 10.2789 5.72115 12.6667 8.66667 12.6667C11.6122 12.6667 14 10.2789 14 7.33333C14 4.38781 11.6122 2 8.66667 2C5.72115 2 3.33333 4.38781 3.33333 7.33333Z" stroke="white" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>    
    </span>
    <input
      type="text"
      class="form-control bg-dark text-white"
      placeholder="Processador AMD Ryzen 7 9800X3D"
    />
  </div>
  <div class="icons-navbar">
    <span class="icon-heart">
      <img src="images/Heart.svg" alt="imagem de coração" width="48" height="50"/>
    </span>
    <span class="icon-cart">
      <img src="images/Shopping cart.svg" alt="imagem de carrinho de compras" width="40" height="51"/>
  </span>
    <span class="icon-support">
      <img src="images/support.svg" alt="imagem de suporte" width="45" height="48"/>
    </span>
  </div>
   
</div>
